body {
    font-family: 'Montserrat', sans-serif;
}

header {
    .icon {
        a {
            font-size: 36px;
        }
    }
    .topnav {
        a {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .phone-number {
        font-size: 15px;
        font-weight: 400;
    }
    h1 {
        font-size: 16px;
        font-weight: 400;
    }
    .h1-desc {
        font-size: 48px;
        font-weight: 700;
    }
    .owl-carousel {
        a {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

h2 {
    font-size: 32px;
    font-weight: 700;
}
.section-about-us {
    .about-us-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
}

.section-our-features {
    .our-features-title {
        font-size: 17px;
        font-weight: 700;
    }
    .our-features-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
    .boost-desc {
        font-family: $font-stack-secondary;
        font-size: 20px;
        font-weight: 400;
    }
}

.section-projects {
    .projects-aside-title {
        font-size: 18px;
        font-weight: 700;
    }
    .projects-aside-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }
    .projects-slider-title {
        font-size: 18px;
        font-weight: 700;
    }
    .projects-slider-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
}

.section-services {
    h3 {
        font-size: 18px;
        font-weight: 700;
    }
    .services-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }
}

.section-testimonials {
    .test-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
    .client-name {
        font-size: 14px;
        font-weight: 700;
    }
    .designation {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
    }
}

.section-our-blog {
    .blog-date {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
    }
    .blog-title {
        font-size: 18px;
        font-weight: 700;
    }
    .blog-desc {
        font-family: $font-stack-secondary;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
}

.section-contact {
    .contact-title {
        font-size: 18px;
        font-weight: 700;
    }
    .contact-desc {
        font-family: $font-stack-secondary;
        font-size: 18px;
        font-weight: 400;
    }
}
